/* Styles for the login form */
.login-modal__form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* Styles for the form group */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Styles for the form group label */
.form-group label {
  color: var(--text-dark);
  font-size: 0.9rem;
  font-weight: 500;
}
